[user]
	name = John Kugelman
	email = john@kugelman.name
[color]
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[push]
	default = simple
	useForceIfIncludes = true
[merge]
	ff = only
	directoryRenames = true
[pull]
	ff = only
[alias]
	unstage = reset HEAD --
	lg = log --graph --abbrev-commit --date=relative --format=format:'%C(bold blue)%aN%C(reset), %C(bold green)%ad%C(reset) - %C(auto)%h%d%C(reset)%n%C(bold)%B%-C()%n' --stat
	pushf = push --force-with-lease
[diff "sqlite3"]
	textconv = bash -c 'sqlite3 \"$1\" .dump' --
[pager]
	stash = 
	tag = 
	branch = 
[log]
	mailmap = true
[fetch]
	pruneTags = true
	prune = true
[core]
	pager = diff-so-fancy | less -R
	excludesFile = ~/.config/gitignore-global
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
[diff]
	colorMoved = default
	renames = copies
[commit]
	verbose = true
[status]
	showStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
