[user]
	name = John Kugelman
	email = john.kugelman@progeny.net
[color]
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) - %C(dim white)%aN%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) - %C(dim white)%aN%C(reset)' --all
	lg3 = log --abbrev-commit --date=relative --format=format:'%C(bold blue)%aN%C(reset), %C(bold green)%ad%C(reset) - %C(auto)%h%d%C(reset)%n%w(0,4,4)%B'
	lg = !"git lg3"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff "sqlite3"]
	textconv = bash -c 'sqlite3 \"$1\" .dump' --
[pager]
	stash = 
	tag = 
	branch = 
[log]
	mailmap = true
[merge]
	ff = only
[fetch]
	pruneTags = true
[cstk]
	dir = /home/jkugelman/IA/cstk
[cstk "cd"]
	cli = support/cstk-cli
	cl = distros/swfts/Client
	bbs = distros/swfts/Basebuild/build/IA/Basebuild/Setup
	docs = docs
	rpms = distros/swfts/rpms
	md = support/make-dist
	docker = support/docker
	rpmb = support/docker/rpm-build
	website = support/website
